<tabset >
    <!-- 取込タブ -->
    <tab heading="　　取込　　">
        <div class="center mt-5">
            <file-drop 
                dropZoneLabel="ここにファイルをドロップします"
                browseBtnClassName="btn btn-primary text-white ml-5"
                browseBtnLabel = "ファイルを選択"
                (onFileDrop)="dropped($event)" 
                [showBrowseBtn]="true" >
            </file-drop>
            <div class="upload-table mt-3">
                <table class="table">
                    <thead>
                        <tr>
                            <th>Name</th>
                        </tr>
                    </thead>
                    <tbody class="upload-name-style">
                        <tr *ngFor="let item of files; let i=index">
                            <td>{{ item.relativePath }}</td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>
    </tab>
    <!-- 分析タブ -->
    <tab heading="　　分析　　" active="True">
        <div class='mt-3'>
            <tabset type="pills" >
                <!-- グラフタブ -->
                <tab heading="グラフ">
                    <div class='mt-3'>
                        <button class='btn btn-outline-primary ml-3' (click)="updateChart()">更新</button>
                        <label class='ml-3'>最終更新:{{lastUpdateTime}}</label>
                    </div>
                    <!-- 棒グラフ -->
                    <div class="container-fluid">
                        <div class="col col-lg-12 m-2">
                            <div class="card">
                                <div class="card-header bg-info text-white">残業時間別従業員数</div>
                                <div class="card-body">
                                    <app-chart [resultData]='barChartData'></app-chart>
                                </div>
                            </div>
                        </div>
                        <!-- 折れ線グラフ -->
                        <!-- <div class="col col-lg-12 m-2">
                            <div class="card">
                                <div class="card-header bg-info">line-chart</div>
                                <div class="card-body">
                                    <app-line-chart></app-line-chart>
                                </div>
                            </div>
                        </div> -->
                        <!-- 円グラフ -->
                        <div class="col col-lg-12 m-2">
                            <div class="card">
                                <div class="card-header bg-info text-white">残業時間別従業員数</div>
                                <div class="card-body">
                                    <app-pie-chart [resultData]='pieChartData'></app-pie-chart>
                                </div>
                            </div>
                        </div>
                    </div>
                </tab>
                <!-- リストタブ -->
                <tab heading="リスト">
                    <!-- デバッグ用 -->
                    <!-- <pre class="card card-block card-header">{{ paramForm.value | json }}</pre>  -->
                    <form class="m-3 card card-block card-header" [formGroup]="paramForm">
                        <div>
                            <div>
                                <label class="ml-3">集計対象：</label>
                                <div class="btn-group btn-group-toggle">
                                    <label [class]="getClass(target[0],'sqltarget')" *ngFor="let target of aggregateTarget; let i = index">
                                        <input type="radio" [id]= "'target'+ i" formControlName="sqltarget" [value]="target[0]" (click)="changeParam()">{{target[1]}}
                                    </label>
                                </div>

                                <label class="ml-4">集計範囲：</label>
                                <div class="btn-group btn-group-toggle">
                                    <label [class]="getClass(term[0],'sqlterm')" *ngFor="let term of aggregateTerm; let i = index">
                                        <input type="radio" [id]="'term' + i" formControlName="sqlterm" [value]="term[0]" (click)="changeParam()">{{term[1]}}
                                    </label>
                                </div>
                            </div>
                        </div>
                        <div>
                            <label class="ml-3 mt-3">時間：</label>
                            <input class="text-right" type="text" formControlName="sqltime" (blur)="changeText()">
                            <label class="ml-3 mt-3">時間以上</label>
                        </div>
                    </form>
                    <div>
                        <button class="btn btn-primary float-right mb-3 mr-4" (click)="listDownload()">ダウンロード</button>
                    </div>
                    <table class="table table-striped">
                        <tr>
                            <th>従業員ID</th>
                            <th>従業員名</th>
                            <th>残業時間</th>
                        </tr>
                        <tr *ngFor="let ld of listData">
                            <td>{{ld.id}}</td>
                            <td>{{ld.name}}</td>
                            <td>{{ld.overtime}}</td>
                        </tr>
                    </table>
                </tab>
            </tabset>
        </div>
    </tab>
</tabset>

<ngx-spinner type="ball-clip-rotate-multiple"></ngx-spinner>